<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mt.mortnon.dal.sys.mapper.SysUserMapper">

    <select id="selectByPage" resultType="org.mt.mortnon.dal.sys.entity.SysUser">
        SELECT id,gmt_create,gmt_modify,email,nick_name,sex,user_name,tenant_id FROM sys_user
    </select>
</mapper>